@page
@model Online_Mobile_Store.Areas.Identity.Pages.Phones.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Phone[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone[0].ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone[0].ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone[0].IsPreferredDrink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone[0].InStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone[0].Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Phone) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPreferredDrink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PhoneId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PhoneId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PhoneId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
